#contact-info {
    text-align: center;
}


* {
    margin: 4px;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

.section {
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.date-location {
    text-align: right;
}