<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yatzy</title>
    <script type="text/javascript" src="/assets/jquery-3.7.1.min.js"></script>
    <script type="module" src="./assets/dice.js"></script>
    <script type="module" src="./assets/yatzy_game.js"></script>
    <script type="text/javascript" src="./assets/yatzy_engine.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="sideCard">
    <h1>Yatzy</h1>
    <div id="rules">
        <h3>Rules</h3>
        <p>You have up to 2 re-rolls per turn. In each turn you can choose which dice you keep (the rest are rerolled).
            During each turn you must choose a method to score as described on the scorecard. Each scoring method must
            be used only once per game.</p>
    </div>
    <div id="controls">
        <h3>Controls</h3>
        <ul>
            <li>Click the roll button to roll</li>
            <li>Click which dice you want to change the re-roll state. A red outline indicates that it is a keeper.</li>
            <li>Click the scoring method on the scorecard to finish turn and choose scoring method</li>
            <li>Click the new game button to start a new game</li>
        </ul>
    </div>
    <div id="leaderboardSection">
        <h3>Leaderboard</h3>
        <p id="leaderboardMessage">No games played yet!</p>
        <ol id="leaderboard">
        </ol>
    </div>
</div>
<div id="body">
    <table id="scoreCard">
        <tr class="label" id="scoreCardTitle">
            <th colspan="4">SCORE CARD</th>
        </tr>
        <tbody>
        <tr class="label">
            <th>Scoring Method</th>
            <th>Description</th>
            <th>Max</th>
            <th>Score</th>
        </tr>
        <tr class="label">
            <th colspan="4">Upper Section</th>
        </tr>
        <tr id="ones">
            <th>1'</th>
            <td>The sum of all dice with the number 1</td>
            <td>5</td>
        </tr>
        <tr id="twos">
            <th>2's</th>
            <td>The sum of all dice with the number 2</td>
            <td>10</td>
        </tr>
        <tr id="threes">
            <th>3's</th>
            <td>The sum of all dice with the number 3</td>
            <td>15</td>
        </tr>
        <tr id="fours">
            <th>4's</th>
            <td>The sum of all dice with the number 4</td>
            <td>20</td>
        </tr>
        <tr id="fives">
            <th>5's</th>
            <td>The sum of all dice with the number 5</td>
            <td>25</td>
        </tr>
        <tr id="sixes">
            <th>6's</th>
            <td>The sum of all dice with the number 6</td>
            <td>30</td>
        </tr>
        <tr id="upperScore">
            <th>Sum</th>
            <td>Sum off upper section</td>
            <td>105</td>
        </tr>
        <tr id="bonus">
            <th>Bonus</th>
            <td>Awarded if upper section is 63 or larger</td>
            <td>50</td>
        </tr>
        </tbody>
        <tr class="label">
            <th colspan="4">Lower Section</th>
        </tr>
        <tr id="onePair">
            <th>One Pair</th>
            <td>Sum of two dice with the same number</td>
            <td>12</td>
        </tr>
        <tr id="twoPairs">
            <th>Two Pairs</th>
            <td>Sum of two distinct sets of two dice with the same number</td>
            <td>22</td>
        </tr>
        <tr id="threeOfAKind">
            <th>Three of a Kind</th>
            <td>Sum of three dice with the same number</td>
            <td>18</td>
        </tr>
        <tr id="fourOfAKind">
            <th>Four of a Kind</th>
            <td>Sum of four dice with the same number</td>
            <td>24</td>
        </tr>
        <tr id="smallStraight">
            <th>Small Straight</th>
            <td>The combination 1-2-3-4-5</td>
            <td>15</td>
        </tr>
        <tr id="largeStraight">
            <th>Large Straight</th>
            <td>The combination 2-3-4-5-6</td>
            <td>20</td>
        </tr>
        <tr id="fullHouse">
            <th>Full House</th>
            <td>Triplets combined with a different pair</td>
            <td>28</td>
        </tr>
        <tr id="chance">
            <th>Chance</th>
            <td>Sum of any combination of dice</td>
            <td>30</td>
        </tr>
        <tr id="yatzy">
            <th>Yatzy</th>
            <td>All dice are the same</td>
            <td>50</td>
        </tr>
        <tr id="total">
            <th>Total</th>
            <td></td>
            <td>374</td>
        </tr>
    </table>
    <div id="game">
        <h2>Dice Rolled</h2>
        <div id="diceOutput">
        </div>
        <p>Rolls remaining: <span id="rollsRemaining"></span></p>
        <button id="rollButton">Roll Dice</button>
        <button id="newGameButton">New Game</button>
    </div>
</div>

<script>
    // let game = new YatzyGame();
    const rollButton = document.getElementById('rollButton');
    const newGameButton = document.getElementById('newGameButton')
    const diceOutput = document.getElementById('diceOutput');
    const scoreOutput = document.getElementById('scoreCard');
    const rows = scoreOutput.rows;
    const rollsRemaining = document.getElementById('rollsRemaining');
    const leaderboard = document.getElementById('leaderboard');
    const leaderboardMessage = document.getElementById('leaderboardMessage')

    render();
    renderLeaderboard();

    rollButton.onclick = async function () {
        $.ajax({
            type: "GET",
            url: "api/roll"
        }).then((data) => {
            render();
        });
    };

    newGameButton.onclick = async function () {
        $.ajax({
            type: "POST",
            url: "api/newGame"
        }).then((data) => {
            render();
            renderLeaderboard();
        })
    }
    // newGameButton.addEventListener('click', () => {
    //     game = new YatzyGame();
    //     render();
    // })

    function render() {
        // clear dice
        diceOutput.innerHTML = "";
        //re-render dice

        $.ajax({
            type: "GET",
            url: "api/game"
        }).then((data) => {
            console.log(data.dice);
            console.log(data.rolls);

            for (const diceNum in data.dice) {
                let dice = document.createElement('div');

                dice.className = 'dice';

                if (data.dice[diceNum].keeper) {
                    dice.classList.add('locked');
                }

                dice.onclick = async function () {
                    $.ajax({
                        type: "POST",
                        url: `api/toggleDice/${diceNum}`
                    }).then(() => {
                        render();
                    })
                }

                const layouts = {
                    1: [false, false, false,
                        false, true, false,
                        false, false, false],
                    2: [true, false, false,
                        false, false, false,
                        false, false, true],
                    3: [true, false, false,
                        false, true, false,
                        false, false, true],
                    4: [true, false, true,
                        false, false, false,
                        true, false, true],
                    5: [true, false, true,
                        false, true, false,
                        true, false, true],
                    6: [true, false, true,
                        true, false, true,
                        true, false, true],
                }

                //rerender dice
                for (let i = 0; i < 9; i++) {
                    let child = document.createElement("div");
                    if (layouts[parseInt(data.dice[diceNum].value)][i]) {
                        child.className = "dot";
                    }
                    dice.appendChild(child);
                }


                diceOutput.appendChild(dice);
            }

            rollsRemaining.innerHTML = data.rolls;
            renderScoreCard();

        });
    }

    function renderScoreCard() {

        console.log("score")
        $.ajax({
            type: "GET",
            url: "api/score"
        }).then((score) => {
            console.log(score);

            for (const scoringMethod in score) {
                let row = document.getElementById(scoringMethod);
                let td = document.createElement('td');
                row.removeChild(row.lastChild);

                if (scoringMethod !== "upperScore" && scoringMethod !== "bonus" && scoringMethod !== "total") {
                    row.onclick = async function () {
                        $.ajax({
                            type: "PUT",
                            url: `api/choose/${scoringMethod}`
                        }).then(() => {
                            render();
                        });
                    }

                    if (score[scoringMethod].chosen) {
                        row.className = 'used';
                    } else {
                        row.classList.remove('used');
                    }

                    td.innerHTML = score[scoringMethod].score;
                } else {
                    td.innerHTML = score[scoringMethod];
                }

                row.appendChild(td);
            }
        });
    }

    async function renderLeaderboard() {
        $.ajax({
            type: "GET",
            url: "api/leaderboard/10"
        }).then((leaderboardData) => {


            if (leaderboardData.length === 0) {
                leaderboard.style.display = 'none';
                leaderboardMessage.style.display = 'block';
            } else {
                leaderboardMessage.style.display  = 'none';
                leaderboard.style.display = 'block';

                leaderboard.innerHTML = "";
                for (let i = 0; i < leaderboardData.length; i++) {
                    let li = document.createElement('li');
                    li.innerHTML = `${leaderboardData[i].toString().padStart(3, "  ")} points`;
                    leaderboard.appendChild(li);
                }
            }

        });
    }
</script>
</body>
</html>